<%- include('blocks/header', {bot, user, path}) %>
	<div class="jumbotron jumbotron-fluid mt-0">
		<div class="container">
			<h1><%= command.help.name %></h1>
			<p>Command</p>
		</div>
	</div>
	<div class="container">
	    <div class="card-deck">
    	    <div class="card">
                <h5 class="card-header">Info</h5>
                <div class="card-body">
                    <p class="card-text">
                        <%= command.help.fullDesc %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Status:</strong> <%= ['Offline', 'W. I. P.', 'Online'][cmd.help.status] %></li>
                    <li class="list-group-item"><strong>Type:</strong> <%= { util: 'Utility', fun: 'Fun', mod: 'Moderator', nsfw: 'NSFW', dev: 'Developer', rp: 'Roleplay', vc: 'Voice', eco: 'Economy' }[command.help.type] %></li>
                </ul>
    	    </div>
    	    <div class="card">
    	        <h5 class="card-header">Aliases</h5>
                <div class="card-body">
                    <p class="card-text">
                        <% command.help.aliases.length > 0 ? command.help.aliases.forEach(alias => { %>
                            <code><%= alias %></code> 
                        <% }) : 'None' %>
                    </p>
                </div>
    	    </div>
	    </div>
    </div>
<%- include('./blocks/footer') %>