<%- include('./blocks/header', { bot, user, path }) %>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<div class="media">
				<% if (guild.icon) { %>
					<img class="d-flex mr-3 rounded-circle" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png?size=128` %>" style="width: 80px;" alt="">
				<% } else { %>
					<canvas style="background-color: #7289da" class="d-flex mr-3 rounded-circle" id="<%= guild.name.split(' ').join('').replace(`'`, ``) %>" width="80px" height="80px"></canvas>
					<script>
						function draw() {
						const ctx = document.getElementById("<%= guild.name.split(' ').join('').replace(`'`, ``) %>").getContext('2d');
						ctx.font = '30px Arial';
						ctx.textAlign = "center";
						ctx.fillStyle = "white";
						ctx.fillText("<%= guild.name.split(' ').map(v => v[0]).join('') %>", 40, 50);
						};
						draw();
					</script>
				<% } %>
                <div class="media-body">
                    <h3 class="mt-0"><%= guild.name %></h5>
                    Settings
                </div>
            </div>
        </div>
	</div>
	<div class="container">
		<form>
			<div class="form-row">
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		    		<label for="logChannel">Logging Channel</label>
					<select class="form-control" id="logChannel" name="logChannel">
						<% if (settings.logChannel) { %>
							<option value="null">None</option>
							<% guild.channels.filter(c => c.type === 0).forEach(channel => { 
								if (channel.id === settings.logChannel) { %>
									<option selected value="<%= channel.id %>">#<%= channel.name %></option>
								<% } else { %>
									<option value="<%= channel.id %>">#<%= channel.name %></option>
								<% }
							}) %>
						<% } else { %>
							<option selected value="<%= null %>">None</option>
							<% guild.channels.filter(c => c.type === 0).forEach(channel => { %>
								<option value="<%= channel.id %>">#<%= channel.name %></option>
							<% }) %>
						<% } %>
					</select>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		    		<label for="welcomeChannel">Welcome Channel</label>
    				<select class="form-control" id="welcomeChannel" name="welcomeChannel">
						<% if (settings.welcomeChannel) { %>
							<option value="null">None</option>
							<% guild.channels.filter(c => c.type === 0).forEach(channel => { 
								if (channel.id === settings.welcomeChannel) { %>
									<option selected value="<%= channel.id %>">#<%= channel.name %></option>
								<% } else { %>
									<option value="<%= channel.id %>">#<%= channel.name %></option>
								<% }
							}) %>
						<% } else { %>
							<option selected value="<%= null %>">None</option>
							<% guild.channels.filter(c => c.type === 0).forEach(channel => { %>
								<option value="<%= channel.id %>">#<%= channel.name %></option>
							<% }) %>
						<% } %>
					</select>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		    		<label for="muteRole">Muted Role</label>
    				<select class="form-control" id="muteRole" name="muteRole">
						<% if (settings.muteRole) { %>
							<option value="null">None</option>
							<% guild.roles.filter(r => r.id !== guild.id).forEach(role => { 
								if (role.id === settings.muteRole) { %>
									<option selected value="<%= role.id %>">@<%= role.name %></option>
								<% } else { %>
									<option value="<%= role.id %>">@<%= role.name %></option>
								<% }
							}) %>
						<% } else { %>
							<option selected value="<%= null %>">None</option>
							<% guild.roles.filter(r => r.id !== guild.id).forEach(role => { %>
								<option value="<%= role.id %>">@<%= role.name %></option>
							<% }) %>
						<% } %>
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		    		<label for="doLogs">Do Logging</label>
					<select class="form-control" id="doLogs" name="doLogs">
						<% if (settings.doLogs) { %>
							<option selected value="<%= true %>">Yes</option>
							<option value="<%= false %>">No</option>
						<% } else { %>
							<option value="<%= true %>">Yes</option>
							<option selected value="<%= false %>">No</option>
						<% } %>
					</select>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		    		<label for="doWelcomes">Do Welcomes</label>
    				<select class="form-control" id="doWelcomes" name="doWelcomes">
						<% if (settings.doWelcomes) { %>
							<option selected value="<%= true %>">Yes</option>
							<option value="<%= false %>">No</option>
						<% } else { %>
							<option value="<%= true %>">Yes</option>
							<option selected value="<%= false %>">No</option>
						<% } %>
					</select>
				</div>
				<div class="col-12 col-sm-6 col-md-4 col-lg-4">
		    		<input type="submit" class="btn btn-primary btn-block" />
				</div>
			</div>
		</form>
	</div>
<%- include('./blocks/footer') %>
