<%- include('blocks/header', {bot, user, path}) %>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="card card-body">
					<h5 class="card-title">Rings:</h5>
					<p class="card-text"><%= profile.itemRing %></p>
				</div>
			</div>
			<div class="col-4">
				<div class="card card-body">
					<h5 class="card-title">Picks:</h5>
					<p class="card-text"><%= profile.itemPick %></p>
				</div>
			</div>
			<div class="col-4">
				<div class="card card-body">
					<h5 class="card-title">Married To:</h5>
					<p class="card-text"><%= profile.marriedTo ? bot.users.get(profile.marriedTo).username : 'Nobody' %></p>
				</div>
			</div>
		</div>
		<form action="/user/<%= profile.id %>">
			<div class="form-row">
				<label for="desc">Description</label>
				<textarea class="form-control" name="desc" id="desc" value="<%= profile.description %>" />
			</div>
			<div class="form-row">
				<input type="submit" class="btn btn-primary">
			</div>
		</form>
	</div>
<% include ./blocks/footer %>
